.cover__subtitle {
  max-width: 360px;
  margin: 0;
  align-self: start;

  grid-row: 2;
  grid-column: 1;
  text-align: center;
  justify-self: center;
  z-index: 2;

  line-height: 22px;
  font-size: 18px;
  font-weight: normal;
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
    max-width: unset;
    margin: 0 16px;

    line-height: 16px;
    font-size: 14px;
  }
}
