.footer {
  margin: 92px 48px 24px;

  display: grid;
  grid-template-columns: repeat(5, min-content) 1fr;
  column-gap: 18px;
}

@media screen and (max-width: 1023px) {
  .footer {
    margin: 88px 24px 24px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    margin: 64px 16px 24px;

    grid-template-rows: repeat(6, min-content);
    grid-template-columns: auto;
    row-gap: 32px;
  }
}
